.steps {
  display: flex;
  flex-direction: row;
  gap: var(--_space, 1rem);

  @container style(--is-tablet: true) {
    --_space: 2rem;
    justify-content: space-between;
  }

  @container style(--is-desktop: true) {
    --_space: 1.125rem;
    flex-direction: column;
    justify-content: unset;
  }
}
