#root {
  /* padding-block: 6.5625rem;
  padding-inline: 15.625rem; */
  display: grid;
  min-height: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 58.75rem;
  width: 100%;
  margin-inline: auto;

  @container style(--is-desktop: true) {
    flex-direction: row;
    min-height: 37.5rem;
    margin: auto;
    padding-block: 1rem;
    padding-inline: 0.375rem;
    background-color: var(--white);
    border-radius: 0.9375rem;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.09);
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @container style(--is-desktop: true) {
    padding-inline: 6.25rem;
  }
}

.stepControlContainer {
  margin-top: auto;
}
