/* Global CSS here */
:root {
  /* Primary colours */
  --sky-blue: hsl(206, 94%, 87%);
  --denim: hsl(213, 96%, 18%);
  --pastel-blue: hsl(228, 100%, 84%);
  --purple: hsl(243, 100%, 62%);
  --red: hsl(354, 84%, 57%);
  --green: hsl(120, 100%, 25.1%);
  --yellow: hsl(50 80% 40%);

  /* Neutral colours */
  --white-1: hsl(0, 6%, 32%);
  --white-2: hsl(217, 100%, 97%);
  --grey: hsl(231, 11%, 63%);
  --light-grey: hsl(229, 24%, 87%);
  --very-light-grey: hsl(231, 100%, 99%);
  --border-color: hsl(231, 23%, 87%);
}

/* CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Generic */

body {
  /* Layout */
  min-width: 320px;
  min-height: 100vh;

  /* Spacing */
  margin: 0;

  /* Typography */
  font-family: "Ubuntu", serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  color: black;
  background-color: var(--white-2);

  /* Others */
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Utility */

/* Block */
.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}
