/* Global CSS here */

/* Fonts */
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("./assets/fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("./assets/fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("./assets/fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Primary colours */
  --sky-blue: hsl(206, 94%, 87%);
  --denim: hsl(213, 96%, 18%);
  --pastel-blue: hsl(228, 100%, 84%);
  --purple: hsl(243, 100%, 62%);
  --red: hsl(354, 84%, 57%);

  /* Neutral colours */
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(217, 100%, 97%);
  --grey: hsl(231, 11%, 63%);
  --light-grey: hsl(229, 24%, 87%);
  --very-light-grey: hsl(231, 100%, 99%);
}

body {
  /* Typography */
  font-family: "Ubuntu", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  /* Colors */
  color: black;
  background-color: var(--white-2);

  /* Others */
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Utility */
.u400 {
  font-family: "Ubuntu", arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.u500 {
  font-family: "Ubuntu", arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.u700 {
  font-family: "Ubuntu", arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}
